# **Introduction to Python**


Python is a very popular programming language which can be used to handle very large volumes of data and even handles very complex mathematic operations. In today's class, we would hope to go through th basic syntax of Python 3. To know more about the importance of python, you may click [here](https://onecompiler.com/tutorials/python/basics/introduction).

## Variables

In [ ]:
a = 1       # integer
b = 1.1     # float or double
c = 1 + 2j  # complex number (a + bi)
d = "a"     # string
e = True    # boolean (True / False)

In [ ]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(type(a))

1
1.1
(1+2j)
a
True
<class 'int'>

##Type Conversion

In [ ]:
print(int(b))
print(float(a))

1
1.0

## Strings

In [ ]:
x = "Python"
print(x[0])
print(x[-1])
print(x[0:3])

P
n
Pyt

In [ ]:
print(len(x))
print(x.upper())
print(x.find("a"))
print(x.find("y"))

6
PYTHON
-1
1

##Conditional Statements

In [ ]:
g=4

if g==0:
  print("Zero")
elif g>0:
  print("Positive")
else:
  print ("Negative")

Positive

##Loops

###For Loop

In [ ]:
for n in range(1, 10): 
    print(n)

1
2
3
4
5
6
7
8
9

In [ ]:
for n in range(1, 10,2): 
    print(n)

1
3
5
7
9

In [ ]:
for n in range(10, 1,-1): 
    print(n)

10
9
8
7
6
5
4
3
2

###While Loop

In [ ]:
n=0
while n < 10: 
    print(n)
    n += 1

0
1
2
3
4
5
6
7
8
9

##Functions and Taking input

In [ ]:
def increment(number, inc): 
   result=number + inc  
   return result
 
# Keyword arguments
 
inputnumber=int(input("Please enter a number: "))

print(increment(inputnumber, 1))

Please enter a number: 45
46

##Lists (For more information click [here](https://www.w3schools.com/python/python_lists.asp))

In [ ]:
letters = ["a", "b", "c"] 

print(letters[0:3])   # "a", "b", "c"
print(letters[:3] )   # "a", "b", "c"
print(letters[0:])    # "a", "b", "c", "d"
print(letters[:])     # "a", "b", "c", "d"
print(letters[::2])   # "a", "c"
print(letters[::-1])  # "d", "c", "b", "a"

['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c']
['a', 'c']
['c', 'b', 'a']

##Tuples (For more information click [here](https://www.w3schools.com/python/python_tuples.asp))

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print(thistuple[1])

('apple', 'banana', 'cherry')
banana

##Set (For more information click [here](https://www.w3schools.com/python/python_sets.asp))

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

##Dictionary (For more information click [here](https://www.w3schools.com/python/python_dictionaries.asp))

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(thisdict["brand"])

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford

##NumPy Creating Arrays (For more information click [here](https://www.w3schools.com/python/numpy/numpy_creating_arrays.asp))

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

print(arr)

print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>

##Learning Materials


To learn more about python, you may check these websites:

*   [programmingwithmosh](https://programmingwithmosh.com/python/python-3-cheat-sheet/)
*   [OneCompiler](https://onecompiler.com/tutorials/python/)
*   [W3Schools](https://www.w3schools.com/python/)


You may also watch these videos:

*   [Python Basics Part 1](https://youtu.be/kNFjiQRUV9M)
* [Python Basics Part 2](https://youtu.be/i4bMTf6xUaA)
* [Python Basics Part 3](https://youtu.be/DriXZP7QytM)
* [Python Basics Part 4](https://youtu.be/vGu_DHyK8DI)